.carousel-control-next-icon:after {
  content: '>';
  font-size: 55px;
  height: 100px;
  width: 100px;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  height: 100px;
  width: 100px;
}
